<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Productos</title>
</head>
<body>

<h1 style="text-align: center;">Productos en Tiempo Real</h1>

<div class="form-container">
    <form id="addProductForm" class="styled-form">
        <input type="text" id="productName" placeholder="Nombre" required>
        <input type="number" id="productPrice" placeholder="Precio" required>
        <input type="text" id="productDescription" placeholder="Descripción" required>
        <input type="text" id="productCode" placeholder="Código" required>
        <input type="number" id="productStock" placeholder="Stock" required>
        <input type="text" id="productCategory" placeholder="Categoría" required>
        <button type="submit">Agregar Producto</button>
    </form>
</div>

<body data-cart-id="{{cartId}}">

<!-- Listado de productos -->
<div id="product-list" class="product-list">
    {{#each productos}}
        <div>
            <strong>{{this.title}}</strong> - {{this.description}} - ${{this.price}}
            <button onclick="addToCart({{this.id}})">Agregar al carrito</button>
            <button onclick="deleteProduct({{this.id}})">Eliminar</button>
        </div>
    {{/each}}
</div>

<div style="text-align: center; margin-top: 20px;">
    <a href="/home" class="go-home-button" style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">
        Ir a Home
    </a>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/clientapp.js"></script>

</body>
</html>







